table {
    margin: 0 auto;
}
td, th {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
    font-size: 14px;
}
th {
    background-color: #f2f2f2;
}
input[type="checkbox"], input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}
select {
    font-size: 18px;
    padding: 6px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"], input[type="reset"] {
    background-color: gold;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin-right: 10px;
}
input[type="reset"] {
    background-color: rgb(64, 64, 235);
}